
	<div class="user container" id="fuck">
		<div class="row">
			<div class="col-3 sidebar">
				<div><a href="/logout">Log Out</a></div>
				<div><a href="/calculator">Mortgage Calculator</a></div>


			</div>

			<div class="col-9 mainbar">
				<h2>User Profile</h2>

				<p>Name: {{user}}</p>

				<p>Email: {{email}}</p>

				<p>Phone: {{phone}}</p>

				<p>Age: {{age}}</p>

				<p>Occupation: {{occupation}}</p>

				<h2>Bookmarked Property</h2>
				<ul>
					{{#each bookmark}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		</div>	
	</div>
	
