
	<div class="user container" id="fuck">
		<div class="row">
			<div class="col-3 sidebar">
				<ul class="list-group">
				  <li class="list-group-item"><a href="/logout">Log Out</a></li>
				  <li class="list-group-item"><a href="/calculator">Mortgage Calculator</a></li>
				  <li class="list-group-item"><a href="/updateUser">Update User Info</a></li>

			</div>

			

				<div class="card">
				  <div class="card-header">
				    <h2>User Profile</h2>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Username</h5>
				    <p class="card-text">{{user.username}}</p>

				    <h5 class="card-title">Email</h5>
				    <p class="card-text">{{user.email}}</p>

				    <h5 class="card-title">Phone Number</h5>
				    <p class="card-text">{{user.phone}}</p>

				    <h5 class="card-title">Current District</h5>
				    <p class="card-text">{{user.district_current}}</p>

				    <h5 class="card-title">Salary</h5>
				    <p class="card-text">{{user.salary}}</p>

				    <h5 class="card-title">Gender</h5>
				    <p class="card-text">{{user.gender}}</p>
				  </div>
				</div>


				<div class="card">
				  <div class="card-header">
				    <h2>Bookmarked Property</h2>
				  </div>
				  <div class="card-body">
				    <ul>
							{{#each bookmark}}
								<li>{{this}}</li>
							{{/each}}
						</ul>
				  </div>
				</div>


				<h2></h2>
				
			</div>
		</div>	
	</div>
	
